{% extends 'main/layout.html' %}

{% block title %}Изменение записи{% endblock %}
{% block content %}
    <div class="features">
        <h1>Изменение записи</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.base }}<br>
            {{ form.address }}<br>
            {{ form.date }}<br>
            <p>Ниже введите результаты измерений</p>
            <div class="form-group">
                <label>Максимальынй измеренный результат</label>
                {{ form.resultMax }}
            </div>
            <div class="form-group">
                <label>Минимальный измеренный результат</label>
                {{ form.resultMin }}
            </div>
            <div class="form-group">
                <label>Эквтвалентный уровень звука/Уровень звука А</label>
                {{ form.resultA_1 }}
                {{ form.resultA_2 }}
                {{ form.resultA_3 }}
                {{ form.resultA_4 }}
            </div>
            <div class="form-group">
                <label>Уровень звука на частоте 31.5 Гц</label>
                {{ form.result31_1 }}
                {{ form.result31_2 }}
                {{ form.result31_3 }}
                {{ form.result31_4 }}
            </div>
            <div class="form-group">
                <label>Уровень звука на частоте 63 Гц</label>
                {{ form.result63_1 }}
                {{ form.result63_2 }}
                {{ form.result63_3 }}
                {{ form.result63_4 }}
            </div>
            <div class="form-group">
                <label>Уровень звука на частоте 125 Гц</label>
                {{ form.result125_1 }}
                {{ form.result125_2 }}
                {{ form.result125_3 }}
                {{ form.result125_4 }}
            </div>
            <div class="form-group">
                <label>Уровень звука на частоте 250 Гц</label>
                {{ form.result250_1 }}
                {{ form.result250_2 }}
                {{ form.result250_3 }}
                {{ form.result250_4 }}
            </div>
            <div class="form-group">
                <label>Уровень звука на частоте 500 Гц</label>
                {{ form.result500_1 }}
                {{ form.result500_2 }}
                {{ form.result500_3 }}
                {{ form.result500_4 }}
            </div>
            <div class="form-group">
                <label>Уровень звука на частоте 1000 Гц</label>
                {{ form.result1000_1 }}
                {{ form.result1000_2 }}
                {{ form.result1000_3 }}
                {{ form.result1000_4 }}
            </div>
            <div class="form-group">
                <label>Уровень звука на частоте 2000 Гц</label>
                {{ form.result2000_1 }}
                {{ form.result2000_2 }}
                {{ form.result2000_3 }}
                {{ form.result2000_4 }}
            </div>
            <div class="form-group">
                <label>Уровень звука на частоте 4000 Гц</label>
                {{ form.result4000_1 }}
                {{ form.result4000_2 }}
                {{ form.result4000_3 }}
                {{ form.result4000_4 }}
            </div>
            <div class="form-group">
                <label>Уровень звука на частоте 8000 Гц</label>
                {{ form.result8000_1 }}
                {{ form.result8000_2 }}
                {{ form.result8000_3 }}
                {{ form.result8000_4 }}
            </div>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Сохранить</button>
        </form>
    </div>
{% endblock %}